@model IEnumerable<SearchingDemo.Models.Product>;
@{
    ViewData["Title"] = "Products";
}
<div class="row mb-3">
    <div class="col-6">
        <form class="form-inline d-flex mb-2">
            <input class="form-control mr-sm-2" id="searchProduct" type="search" placeholder="Search Product" aria-label="Search">
        </form>
    </div>
    <div class="col-6">
        <form>
            <div class="form-group d-flex">
                <label class="form-label">Search Category</label>
                <select class=" form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
        </form>
    </div>
</div>
<a asp-action="AddProduct" asp-controller="Products" class="btn btn-primary mb-2">Create New</a>
<div class="row">
    <div class="row text-center mb-3">
        <h1 class="text-capitalize text-primary">Our Product</h1>
    </div>
    <div class="row mx-5">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">Product Id</th>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">Product Description</th>
                    <th class="text-center">Product Price</th>
                    <th class="text-center">Product Image</th>
                    <th class="text-center">Product Category</th>
                    <th class ="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(ItemName => item.Id)</td>
                        <td class="text-center">@Html.DisplayFor(ItemName => item.Name)</td>
                        <td class="text-center">@Html.DisplayFor(ItemName => item.Description)</td>
                        <td class="text-center">@Html.DisplayFor(ItemName => item.Price)</td>
                        <td class="text-center"><img class="figure-img" width="80" height="80" src="~/ProductImages/@item.Image" /></td>
                        <td class="text-center">@Html.DisplayFor(ItemName => item.Category.CategoryName)</td>
                        <td class="text-center">
                            <a class="btn btn-primary" asp-action="EditProduct" asp-controller="Products" asp-route-id="@item.Id">Edit</a> ||
                            <a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Products" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(() => {
        
    })
</script>