@model IEnumerable<AdminPanel.Models.Category>;

@{
    ViewData["Title"] = "Category";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12 col-11">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Categories</h6>

                <p>
                    <a asp-action="CreateCategory">Create New</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.CategoryId)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.CategoryName)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Slug)</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.CategoryId)</td>
                                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Slug)</td>


                                <td><a asp-action="EditCategory" asp-controller="Categories" asp-route-id="@item.CategoryId">Edit</a></td>
                                <td><a asp-action="CategoryDetail" asp-controller="Categories" asp-route-id="@item.CategoryId">Detail</a></td>
                                <td><a asp-action="DeleteCategory" asp-controller="Categories" asp-route-id="@item.CategoryId">Delete</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
