
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row mb-5">
        <h1 class="text-center p-4">
            @ViewBag.Title
        </h1>
    </div>
    <form asp-action="">
        <div class="row p-3 shadow-lg gap-3 border-1 rounded-3">
            <div class="col-5">
                <img class="img-fluid" src="~/SubServiceImages/@ViewBag.ProductDetail.ServiceImage" alt="Pic Not Found" />
            </div>
            <div class="col-6">
                <div class="row ml-5 d-flex flex-column align-items-center">
                    <div class="row d-flex flex-column align-items-center justify-content-center">
                        <div class="col-12">
                            <h3 class="text-info text-decoration-underline">Service Name :</h3>
                            <h4>@ViewBag.ProductDetail.SubServiceName</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row d-flex flex-column align-items-center justify-content-center">
                        <div class="col-12">
                            <h3 class="text-info text-decoration-underline">Description :</h3>
                            <h4>@ViewBag.ProductDetail.SubServiceDescription</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row d-flex flex-column align-items-center justify-content-center">
                        <div class="col-12">
                            <h3 class="text-info text-decoration-underline">Service Charges :</h3>
                            <h4>$@ViewBag.ProductDetail.SubServiceCharges</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <input type="submit" value="Add To Cart" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        <input value="@ViewBag.ProductDetail.SubServiceId" type="text" />
        <input value="@ViewBag.ProductDetail.SubServiceName" type="text" />
        <input value="@ViewBag.ProductDetail.SubServiceDescription" type="text" />
        <input value="@ViewBag.ProductDetail.SubServiceCharges" type="text" />
        <input value="@ViewBag.ProductDetail.SubServiceCode" type="text" />
        <input value="@ViewBag.ProductDetail.ServiceImage" type="text" />
        <input value="@ViewBag.ProductDetail.ServiceId" type="text" />
    </form>
</div>

