@model CrudWithMvc.Models.Category;
@{
    ViewData["Title"] = "CategoryDetails";
}

<h1>CategoryDetails</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(item => item.CategoryId)</th>
                <th>@Html.DisplayNameFor(item => item.CategoryName)</th>
                <th>@Html.DisplayNameFor(item => item.Slug)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(item => item.CategoryId)</td>
                <td>@Html.DisplayFor(item => item.CategoryName)</td>
                <td>@Html.DisplayFor(item => item.Slug)</td>
            </tr>
        </tbody>
    </table>
</div>

