@model List<FunProject02.Models.Student>

@{
    ViewData["Title"] = "Students Detail";
}

<h3>@ViewData["Title"].ToString()</h3>

<form>
    <button class="btn btn-primary" asp-action="Create" asp-controller="Student">Add Student</button>
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>Student Name </th>
                <th>Father Name</th>
                <th>Student Class</th>
                <th>Student Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach(var student in Model)
                {
                    <tr>
                        <td>@student.id</td>
                        <td>@student.SName</td>
                        <td>@student.FName</td>
                        <td>@student.SClass</td>
                        <td>@student.SAddress</td>
                        <td>
                            <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Student" asp-action="Delete" asp-route-id="@student.id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="colspan="6">
                        <div>
                            There is no record of student now.....
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
