@model IEnumerable<Excell_On_Service.Models.Client>
@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            @ViewData["Title"]
        </h1>
    </div>
</section>

<section class="section main-section">
    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>

            </p>
            <a href="#" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th class="image-cell"></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="image-cell">
                                <div class="image">
                                    <img src="~/ClientImage/@item.ClientPhoto" class="rounded-full">
                                </div>
                            </td>
                            <td data-label="Name">@Html.DisplayFor(itemData => item.ClientName)</td>
                            <td data-label="Company">@Html.DisplayFor(itemData => item.ClientEmail)</td>
                            <td data-label="City">@Html.DisplayFor(itemData => item.ClientAddress)</td>
                            <td data-label="City">@Html.DisplayFor(itemData => item.ClientPhone)</td>
                            <td class="actions-cell">
                                <div class="buttons right nowrap">
                                    <a asp-action="UpdateClient" asp-controller="AdminPanel" asp-route-id="@item.ClientId" class="button small green --jb-modal" data-target="sample-modal-2" type="button">
                                        Details
                                    </a>
                                    <a asp-action="DeleteClientReq" asp-controller="AdminPanel" asp-route-id="@item.ClientId" class="button small red --jb-modal" data-target="sample-modal" type="button">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>