@model IEnumerable<Excell_On_Service.Models.TblEmployee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<section class="section main-section">
    <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
        <a asp-action="GetEmployees" asp-controller="AdminPanel">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Employees
                            </h3>
                            <h1>
                                @TempData["Total_Employees"]
                            </h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="GetClient" asp-controller="AdminPanel">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Clients
                            </h3>
                            <h1>
                                @TempData["Total_Client"]
                            </h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
                    </div>
                </div>
            </div>
       </a>
        <a asp-action="GetReqEmployees" asp-controller="AdminPanel">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Employee Request
                            </h3>
                            <h1>
                                @TempData["Emp_Request"]
                            </h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
                    </div>
                </div>
            </div>
        </a>
        <a asp-controller="AdminPanel" asp-action="AdminReq">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Admin Request
                            </h3>
                            <h1>
                                @TempData["Admin_Req"]
                            </h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
                    </div>
                </div>
            </div>
        </a>
        <a asp-controller="AdminPanel" asp-action="GetAllAdmins">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Total Admin
                            </h3>
                            <h1>
                                @TempData["Total_Admins"]
                            </h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="Services" asp-controller="AdminPanel">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Main Services
                            </h3>
                            <h1>
                                @TempData["Total_Services"]
                            </h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-settings mdi-48px"></i></span>
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="SubServices" asp-controller="AdminPanel">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Products
                            </h3>
                            <h1>
                                @TempData["Total_SubServices"]
                            </h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-settings mdi-48px"></i></span>
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="Departments" asp-controller="AdminPanel">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Departments
                            </h3>
                            <h1>
                                @TempData["Total-Department"]
                            </h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-settings mdi-48px"></i></span>
                    </div>
                </div>
            </div>
        </a>
        <a asp-action="Departments" asp-controller="AdminPanel">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Available Banks
                            </h3>
                            <h1>
                                @TempData["Total-Department"]
                            </h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-settings mdi-48px"></i></span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Sales
                            </h3>
                            <h1>
                                $7,770
                            </h1>
                        </div>
                        <span class="icon widget-icon text-blue-500"><i class="mdi mdi-cart-outline mdi-48px"></i></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Total Users ------> (@TempData["Total_Uses"])
            </p>
            <a href="#" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th class="image-cell"></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Salary</th>
                        <th>Department</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="image-cell">
                                <div class="image">
                                    <img src="~/EmployeeImages/@item.Image" class="rounded-full">
                                </div>
                            </td>
                            <td data-label="Name">@Html.DisplayFor(itemData=>item.Name)</td>
                            <td data-label="Company">@Html.DisplayFor(itemData => item.Email)</td>
                            <td data-label="City">@Html.DisplayFor(itemData => item.Address)</td>
                            <td data-label="City">@Html.DisplayFor(itemData => item.City)</td>
                            <td data-label="City">@Html.DisplayFor(itemData => item.Salary)</td>
                            <td data-label="City">@Html.DisplayFor(itemData => item.Department.DepartmentName)</td>
                            <td class="actions-cell">
                                <div class="buttons right nowrap">
                                    <a asp-action="GetEmpById" asp-controller="AdminPanel" asp-route-id="@item.Id" class="button small green --jb-modal" data-target="sample-modal-2" type="button">
                                        Details
                                    </a>
                                    <a asp-action="DeleteCurrentReq" asp-controller="AdminPanel" asp-route-id="@item.Id" class="button small red --jb-modal" data-target="sample-modal" type="button">
                                        Delete
                                    </a>>
                                </div>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</section>

